node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/coverage
/playwright-report
/test-results

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Logs and caches
*.log
.eslintcache
npm-debug.log*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
